/* Please see documentation at https://docs.microsoft.com/aspnet/core/client-side/bundling-and-minification
for details on configuring this project to bundle and minify static web assets. */
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,400;0,500;1,300;1,400&display=swap');

html, body {
    font-family: 'Open Sans', sans-serif !important ;
    color: #5F6876;
}

input, select {
    color: dimgray !important;
}

a.navbar-brand {
    white-space: normal;
    text-align: center;
    word-break: break-all;
}

i {
    color: #C0C3C9;
}

    i:hover {
        color: cadetblue;
        transform: scale(1.2, 1.2);
    }



/* Provide sufficient contrast against white background */
a.text-black {
    color: #5F6876;
    text-decoration: none !important;
}

/*.btn-primary {
  color: #fff;
  background-color: #1b6ec2;
  border-color: #1861ac;
}*/

/*.nav-pills .nav-link.active, .nav-pills .show > .nav-link {
  color: #fff;
  background-color: #1b6ec2;
  border-color: #1861ac;
}*/

/* Sticky footer styles
-------------------------------------------------- */
html {
    font-size: 14px;
}

hr {
    margin-top: 2rem;
}

.pcard {
    padding-top: 1rem;
    padding-bottom: 2rem;
}

.card-deck {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-direction: column;
    flex-direction: column;
    flex-flow: wrap;
}

    .card-deck .card {
        margin-bottom: 30px;
    }

.custom-card {
    min-width: 18rem;
    max-width: 18rem;
}

.card-body {
    padding: 0;
}

.card-text {
    padding: .5rem;
}

.card-header {
    background-color: #2C3E50;
}

.card {
    transition: box-shadow .3s;
}

    .card:hover {
        box-shadow: 0 0 11px rgba(33,33,33,.2);
    }


@media (min-width: 576px) {
    .card-deck {
        -ms-flex-flow: row wrap;
        flex-flow: row wrap;
        margin-right: -15px;
        margin-left: -15px;
    }

        .card-deck .card {
            display: -ms-flexbox;
            display: flex;
            -ms-flex: 1 0 0%;
            flex: 1 0 0%;
            -ms-flex-direction: column;
            flex-direction: column;
            margin-right: 15px;
            
            margin-left: 15px;
        }

  
}

@media (min-width: 768px) {
    html {
        font-size: 16px;
    }
}

.border-top {
    border-top: 1px solid #e5e5e5;
}

.border-bottom {
    border-bottom: 1px solid #e5e5e5;
}

.box-shadow {
    box-shadow: 0 .25rem .75rem rgba(0, 0, 0, .05);
}

button.accept-policy {
    font-size: 1rem;
    line-height: inherit;
}

/* Sticky footer styles
-------------------------------------------------- */
html {
    position: relative;
    min-height: 100%;
}

body {
    /* Margin bottom by footer height */
    margin-bottom: 60px;
}

.footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    white-space: nowrap;
    line-height: 60px; /* Vertically center the text there */
}

a {
    text-decoration: none !important;
}