@{
    ViewData["Title"] = "About";
}
<h1>@ViewData["Title"]</h1>
<p>Designed by :</p>

<p>Isabel Aranguren, Jessica Ingebrigsten, Leonardo Mosiah Janes de Sousa, and Heather Stratton</p>
<p>For non-commercial use only.</p>
