@model SacramentPlanner.Models.Plan

@{
    ViewData["Title"] = "Edit";
}

<h1>Edit</h1>

<h4>Plan</h4>
<div class="container-fluid text-dark">
    <div class="row justify-content-center align-items-center h-100">
        <div class="col col-sm-6 col-md-6 col-lg-4 col-xl-3">
            <form asp-action="Edit">
                <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                <input type="hidden" asp-for="Id" />
                <div class="form-floating mb-3 mt-3">
                    <input asp-for="Date" class="form-control" placeholder="Enter date" />
                    <label asp-for="Date" class="control-label">Date</label>
                    <span asp-validation-for="Date" class="text-danger"></span>
                </div>
                <div class="form-floating mt-3 mb-3">
                    <input asp-for="Conductor" class="form-control" placeholder="Enter date" />
                    <label asp-for="Conductor" class="control-label">Conductor</label>
                    <span asp-validation-for="Conductor" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="OpeningSong" class="control-label"></label>
                    <select asp-for="OpeningSong" class="form-control" asp-items="ViewBag.hymns">
                        <option value="">-- Select Hymn --</option>
                    </select>
                    <span asp-validation-for="OpeningSong" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="OpeningPrayer" class="control-label"></label>
                    <input asp-for="OpeningPrayer" class="form-control" />
                    <span asp-validation-for="OpeningPrayer" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="SacramentSong" class="control-label"></label>
                    <select asp-for="SacramentSong" class="form-control" asp-items="ViewBag.hymns">
                        <option value="">-- Select Hymn --</option>
                    </select>
                    <span asp-validation-for="SacramentSong" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="IntermediateSong" class="control-label"></label>
                    <select asp-for="IntermediateSong" class="form-control" asp-items="ViewBag.hymns">
                        <option value="">-- Select Hymn --</option>
                    </select>
                    <span asp-validation-for="IntermediateSong" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="ClosingSong" class="control-label"></label>
                    <select asp-for="ClosingSong" class="form-control" asp-items="ViewBag.hymns">
                        <option value="">-- Select Hymn --</option>
                    </select>
                    <span asp-validation-for="ClosingSong" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="ClosingPrayer" class="control-label"></label>
                    <input asp-for="ClosingPrayer" class="form-control" />
                    <span asp-validation-for="ClosingPrayer" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="SpeakerSubjects" class="control-label"></label>
                    <input asp-for="SpeakerSubjects" class="form-control" />
                    <span asp-validation-for="SpeakerSubjects" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="NumberSpeakers" class="control-label"></label>
                    <input asp-for="NumberSpeakers" class="form-control" />
                    <span asp-validation-for="NumberSpeakers" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <input type="submit" value="Save" class="btn btn-primary" />
                </div>
            </form>
        </div>
    </div>
</div>
<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}